{% extends "layouts.layout2018" %}

{% block main %}
  <div class="fullscreen">
    <particles-view></particles-view>
  </div>
{% endblock %}

{% block scripts %}
  <!-- P5 JS Graphics Libary CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js"></script>
  <!-- Scroll Reveal Libary CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.js"></script>
  <!-- Setup for moving particle system -->
  <script src="/js/SteeringBehavior.js"></script>
{% endblock %}