/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/storage/coverage/*
/vendor
/bootstrap/ssr
/auth.json
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bun.lockb
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage
.nyc_output
*storybook.log
storybook-static

/resources/types/generated.d.ts
