/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/storage/coverage/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
bun.lockb
/bootstrap/ssr