
{% extends "layouts.dash" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 <button
                    data-toggle="modal"
                    data-target="#myModal"
                    type="button"
                    class="btn-success pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add New Project
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                 <projects-table
                    :projects="{{ projects|json_encode }}">
                </projects-table>
            </div>
        </div>
    </div>
    <project-create>
    </project-create>
{% endblock %}

{% block scripts %}

<!-- Scroll Reveal Libary CDN -->
<script src="/js/FakeForm.js"></script>

  <!-- Particles JS Libary CDN -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<!-- P5 JS Graphics Libary CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js"></script>

<!-- Scroll Reveal Libary CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.js"></script>

<script>

window.onload = function(e)
{

}

</script>

{% endblock %}
