
.inputForm{
	padding:30px;
}

label{
	margin-bottom: 5px;
}

input{
	margin-bottom: 10px;
}

input[type=text]{
	width:100%;
	border:1px solid #999;
	padding:10px 5px;
	margin-bottom:10px;
}

input[type=password]{
	width:100%;
	border:1px solid #999;
	padding:10px 5px;
	margin-bottom:10px;
}

input[type=number]{
	width:100%;
	border:1px solid #999;
	padding:10px 5px;
	margin-bottom:10px;
}

input[type=email]{
	width:100%;
	border:1px solid #999;
	padding:10px 5px;
	margin-bottom:10px;
}

textarea{
	width:100%;
	border:1px solid #999;
	padding:5px 2px;
	margin-bottom:10px;
	resize:none;
}

 button{
	width:100%;
	padding:10px;
	margin-bottom:10px;
	cursor:pointer;
	background: #263138;
	color: #fff;
}

 button:hover{
	background:#;
	color: #ccc;
}


.contact{
	padding: 10px;
}