.front-nav-item {
    @apply block uppercase py-4 mr-4 cursor-pointer no-underline;
}

.front-nav {
    @apply flex items-center justify-between flex-wrap py-3 px-4 fixed top-0 right-0 left-0;

    z-index: 19;
}

//Google Recapture
.grecaptcha-badge {
    @apply z-10;
}

.about-me {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    line-height: 1.4;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.front-offset-internal-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.front-into {
    @apply border mx-10 p-4 mt-20 text-center text-white;

    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
}

.timeline {
    overflow-x: hidden;
    max-width: none !important;
    color: #b8c2cc;
    //max-height: 458px;
    position: relative;
    z-index: 9;
}

/* width */
.timeline::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.timeline::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

.timeline-blue::-webkit-scrollbar-thumb {
    @apply bg-blue-500;
}

.timeline-blue::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-700;
}

.timeline-teal::-webkit-scrollbar-thumb {
    @apply bg-teal-500;
}

.timeline-teal::-webkit-scrollbar-thumb:hover {
    @apply bg-teal-700;
}

.timeline-purple::-webkit-scrollbar-thumb {
    @apply bg-purple-500;
}

.timeline-purple::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-700;
}

.timeline-green::-webkit-scrollbar-thumb {
    @apply bg-green-500;
}

.timeline-green::-webkit-scrollbar-thumb:hover {
    @apply bg-green-700;
}

.timeline-red::-webkit-scrollbar-thumb {
    @apply bg-red-500;
}

.timeline-red::-webkit-scrollbar-thumb:hover {
    @apply bg-red-700;
}

.timeline-orange::-webkit-scrollbar-thumb {
    @apply bg-orange-500;
}

.timeline-orange::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-700;
}

.timeline-yellow::-webkit-scrollbar-thumb {
    @apply bg-yellow-500;
}

.timeline-orange::-webkit-scrollbar-thumb:hover {
    @apply bg-yellow-700;
}

.timeline-indigo::-webkit-scrollbar-thumb {
    @apply bg-indigo-500;
}

.timeline-indigo::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-700;
}

.timeline-pink::-webkit-scrollbar-thumb {
    @apply bg-pink-500;
}

.timeline-pink::-webkit-scrollbar-thumb:hover {
    @apply bg-pink-700;
}

//.gb-vue-timeline-update {
//    /* border-bottom: solid 1px #dae1e7; */
//}
//
//.gb-vue-timeline-update__description {
//    color: #8795a1 !important;
//}
//
//.gb-vue-timeline-update__title {
//    color: #b8c2cc !important;
//}

.timeline-container {
    position: relative;
}

.project {
    @apply overflow-hidden shadow-lg;
}
