@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Dosis);@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://fonts.googleapis.com/css?family=Molengo);@import url(https://fonts.googleapis.com/css?family=Lekton);@import url(https://fonts.googleapis.com/css?family=Raleway);/* Reset */

* {
  margin: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End of Reset */
h1 {
  font-size: 1.4em;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
}

/* Fonticons */

.fa {
  -webkit-transition: .4s;
          transition: .4s;
}

.fa-arrow-down {
  margin-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
nav {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: -40px !important;
  z-index: 9000 !important;
  overflow: hidden !important;
}

nav ul {
  background: #11161a;
  color: #fff;
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 30px 10px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  color: #fff;
  -webkit-transition: .4s;
          transition: .4s;
}

nav ul li a:hover {
  text-decoration: none !important;
}

nav ul li:hover {
  background: #000;
}

nav ul li:first-child {
  padding-right: 30px;
  font-family: 'Raleway', sans-serif;
  background: #11161a;
}

nav ul li:first-child :hover {
  background: #11161a;
}

nav {
  margin-left: -15px !important;
  margin-right: -40px !important;
}

.handle {
  padding: 15px 10px;
  background: #263138;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  display: none;
  border-bottom: 1px solid #36454f;
  font-size: 1.3em;
}

.handle h2 {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.anchor {
  display: block;
  height: 130px; /*same height as header*/
  margin-top: -130px; /*same height as header*/
  visibility: hidden;
}

#code {
  height: 150px; /*same height as header*/
  margin-top: -80px;
  visibility: hidden;
}
footer {
  padding: 20px;
  background-color: #263138;
  color: #fff;
  position: relative;
  font-family: 'Raleway', sans-serif;
  -webkit-box-shadow: 0px 0px 10px #fff !important;
          box-shadow: 0px 0px 10px #fff !important;
}

footer a {
  color: #fff;
}

.left-foot {
  width: 40%;
  float: left;
}

.centre-foot {
  width: 20%;
  float: left;
  padding-top: 10px;
}

.centre-foot p {
  text-align: center;
}

.right-foot {
  width: 40%;
  float: right;
  text-align: right;
}

.fa-twitter:hover {
  color: #3cf;
}

.fa-facebook:hover {
  color: #46619c;
}

.fa-google-plus:hover {
  color: #f00;
}

.fa-github:hover {
  color: #000;
}

.fa-jsfiddle:hover {
  color: #ff0;
}
.particles-js-canvas-el {
  margin: 0;
  height: 100%;
}

#particles {
  height: 100%;
  width: 100%;
  background: #263138;
  text-align: center;
}

#name {
  text-align: center;
}

#defaultCanvas0 {
  text-align: center;
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  opacity: .7;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #defaultCanvas0 {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.centered {
}
.projects {
  background: #36454f;
  padding: 50px 2.5%;
}

.projects h2 {
  text-align: center;
  color: #fff;
}

.project-thumbs {
  margin: 0;
  padding: 0;
}

.project-thumbs li {
  text-align: center;
  width: 32%;
  margin: 20px 0;
  margin-right: 2%;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition-duration: .4s; /* Safari */
          transition-duration: .4s;
  padding: 30px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.project-thumbs li img:hover {
  -webkit-box-shadow: 3px 3px 10px #000;
          box-shadow: 3px 3px 10px #000;
}

.project-thumbs li:nth-child(3n) {
  margin-right: 0;
}

.project-thumbs li h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-decoration: underline;
}

.project-thumbs li img {
  max-width: 90%;
  margin-top: 20px;
  height: 250px;
  border-radius: 5px;
  cursor: pointer;
}

.twitter {
  float: right;
  width: 50%;
  text-align: center;
  height: 550px;
}

.twitter-feed li {
  list-style: none;
  margin-bottom: 10px;
  background: #fff;
  padding: 20px;
  text-align: left;
  position: relative;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: padding 1s, font-size 1s;
  transition: padding 1s, font-size 1s;
}

.twitter-feed li:hover {
  padding: 60px 20px;
  font-size: 1.5em;
}

.twitter-feed li:hover > img {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  margin: 15px;
}

.twitter-feed {
  overflow-y: scroll;
  height: 500px;
  margin: 0 40px;
  padding: 0;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.twitter-feed::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.twitter-feed::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.twitter-feed::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #36454f;
}

.twitter h2 {
  color: #fff;
}

.twitter-feed li img {
  float: left;
  margin: 0 10px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.favorite_count {
  position: absolute;
  bottom: 5px;
  left: 40%;
}

.favorite_count * {
  padding: 5px 10px;
}

.retweet_count {
  position: absolute;
  bottom: 5px;
  left: 60%;
}

.retweet_count * {
  padding: 5px 10px;
}

.created_at {
  position: absolute;
  top: 20px;
  right: 20px;
}
.inputForm {
  padding: 30px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

input[type=text] {
  width: 100%;
  border: 1px solid #999;
  padding: 10px 5px;
  margin-bottom: 10px;
}

input[type=password] {
  width: 100%;
  border: 1px solid #999;
  padding: 10px 5px;
  margin-bottom: 10px;
}

input[type=number] {
  width: 100%;
  border: 1px solid #999;
  padding: 10px 5px;
  margin-bottom: 10px;
}

input[type=email] {
  width: 100%;
  border: 1px solid #999;
  padding: 10px 5px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  border: 1px solid #999;
  padding: 5px 2px;
  margin-bottom: 10px;
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #263138;
  color: #fff;
}

button:hover {
  background: #;
  color: #ccc;
}

.contact {
  padding: 10px;
}
.pokeball {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #262122;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 10px auto;
  background: linear-gradient(150deg, #ba0c2f 0%, #ba0c2f 48%, #262122 48%, #262122 52%, #fff 52%, #fff 100%);
}

.pokeball:before,
.pokeball:after {
  content: " ";
  border-radius: 100%;
  display: block;
  position: absolute;
}

.pokeball:before {
  background: #262122;
  width: 40px;
  height: 40px;
  margin-top: 45px;
  margin-left: 45px;
}

.pokeball:after {
  background: #fff;
  width: 25px;
  height: 25px;
  margin-top: 45px;
  margin-left: 45px;
  border: double 20px #262122;
}

.pokeball-animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shake;
          animation-name: shake;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: none;
            transform: none;
  }

  20% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
            transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  40% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  50% {
    -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
            transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 50deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 50deg);
  }

  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes shake {
  from {
    -webkit-transform: none;
            transform: none;
  }

  20% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
            transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  40% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  50% {
    -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
            transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 50deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 50deg);
  }

  to {
    -webkit-transform: none;
            transform: none;
  }
}
/* Typography Imports*/

/* Full Screen Design Rule */

html,
body {
  min-width: 100%;
  height: 100%;
  position: relative;
}

/* HMTL5 box modeling approache */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Clearfix Rule */

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

main {
  background-color: #eee;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.fullscreen {
  height: 100%;
  position: relative;
  z-index: 1000;
}

.wrapper {
  overflow-x: hidden;
}

.main-header {
  display: block;
  border: 1px solid #fff;
  border-radius: 5px 5px 5px 10px;
  color: #fff;
  background: #263138;
  padding: 10px 20px;
}

main h1,
main h2,
main h3,
.sidebar ul li a {
  color: #fff;
}

main h2 {
  text-align: center;
  margin-bottom: 10px;
}

header {
  padding: 50px;
  background: #fff;
}

header h1 {
  margin: 0;
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 40px;
  color: #36454f;
}

section h2 {
  color: #36454f;
}

.textFloat {
  display: none;
}

.about-me {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}

.about-me h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.bio {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.tag {
  margin: 10px 0;
  font-size: 1.5em;
}

.welcome {
  width: 100%;
  padding: 200px 0;
}

.end {
  width: 100%;
  padding: 50px 2.5%;
  background: #eee;
}

.end h2 {
  margin: 10px 0;
  text-align: center;
}

.skills {
  width: 100%;
  padding: 200px 0;
}

.contact {
  padding: 0 2.5%;
  width: 50%;
  float: right;
}

.stillworkingon {
  padding: 0 2.5%;
  width: 50%;
  float: left;
}

.contact label {
  color: #36454f;
}

.social {
  width: 100%;
  padding: 50px 2.5%;
  background: #36454f;
  position: relative;
  padding-top: 80px;
}

.social h2 {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.social h3 {
  margin-bottom: 10px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .libary li {
    width: 32%;
    margin-right: 2%;
  }

  .libary li:nth-child(5n) {
    margin-right: 2%;
  }

  .libary li:nth-child(3n) {
    margin-right: 0;
  }/* Responsive Nav Classes */

  nav ul {
    max-height: 0;
    padding: 0;
  }

  nav ul li {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  nav ul li:first-child {
    display: none;
  }

  .showing {
    max-height: 50em;
  }

  .handle {
    display: block;
  }/* End of Responsive Nav *//* Responsive Footer */

  .left-foot {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .right-foot {
    display: none;
  }

  .centre-foot {
    display: none;
  }

  .twitter {
    width: 100%;
    float: none;
    clear: both;
  }

  .textFloat {
    display: block;
    clear: both;
  }

  .created_at {
    display: none;
  }

  .fade {
    position: absolute;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    color: #36454f;
    top: -200px;
    left: 0;
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }

  .project-thumbs li {
    width: 48%;
    margin-right: 4%;
    margin-top: 10px;
  }

  .project-thumbs li:nth-child(3n) {
    margin-right: 4%;
  }

  .project-thumbs li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .libary {
    padding-bottom: 10px;
  }

  .libary li {
    display: block;
    width: 80%;
    margin: 0 10%;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
  }

  .sidebar {
    float: none;
    width: 100%;
  }

  .project-thumbs {
    padding: 0;
  }

  .project-thumbs li {
    float: none;
    width: 90%;
    margin: 10px 5%;
  }

  .contact {
    float: none;
    width: 100%;
  }

  .stillworkingon {
    float: none;
    width: 100%;
  }
}
