{% extends "back.layout" %}

{% block content %}

    <div class="row">

        <button
            data-toggle="modal"
            data-target="#myModal"
            type="button"
            class="btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add New Language
        </button>

        <languages-table
            :languages="{{ languages|json_encode }}">
        </languages-table>
    </div>

    {% include 'back.forms.add_language' %}
{% endblock %}

{% block scripts %}

{% endblock %}