@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.themeSettingsPanelToggleButton {
    @apply fixed z-10 left-0;
    top: 50%;
}

#settings-sidebar {
    @apply left-0 z-20;
    top: 82px;
}

.front-nav-item {
    @apply block uppercase py-4 mr-4 cursor-pointer no-underline;
}

.front-nav {
    @apply flex items-center justify-between flex-wrap py-3 px-4 fixed top-0 right-0 left-0;

    z-index: 19;
}