
.front-nav-item {
    @apply block uppercase py-4 mr-4 cursor-pointer text-teal-500 no-underline;
}

.front-nav {
    @apply flex items-center justify-between flex-wrap py-3 px-4 bg-black fixed;

    top: 0;
    right: 0;
    left: 0;
    z-index: 255;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.front-offset-internal-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.front-into {
    @apply border-teal-200 border rounded mx-10 p-4 mt-20 text-center text-white;

    background: rgba(0, 0, 0, 0.4); text-shadow: 0px 0px 2px #131415;
}
