/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */


  @import "text.css";
  @import "buttons.css";
  @import "login-form.css";
  @import "front.css";

  @import "~animate.css/source/_base.css";
  @import "~animate.css/source/fading_entrances/fadeIn.css";
  @import "~animate.css/source/fading_exits/fadeOut.css";
  @import "~animate.css/source/fading_entrances/fadeInDown.css";

  .dordoy {
      
  }

  /* #app {
    max-width: 1440px;
    margin: 0 auto;
  } */

  html {
    @apply h-full;
  }

  .lg:overflow-none{
    overflow: none;
  }

  .varela{
    font-family: 'Varela Round', sans-serif;
  }

  .input-generic {
    @apply appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight;
  }

  .container {
    max-width: 1400px;
  }

  .stripped-table:nth-child(even) {
    @apply bg-black;
  }

  .stripped-table:last-of-type {
    border-bottom: none;
  }

  .about-me {
    @apply text-grey;
    text-align: center;
  }

  .projects {

  }

  .projects .project:last-child {
    margin-right: 0;
  }

  .project {
    @apply rounded overflow-hidden shadow-lg bg-black;
    /* margin-right: 1rem !important; */
  }

  .section-year {
    padding: 5px !important;
  }


  .timeline-spacing {

  }
  .project:last-of-type {
    
  }