/* Full Screen Design Rule */
/* Reset */
*{
	margin: 0;
	border: 0;
}

a{
	text-decoration:none;
	color:inherit;	
}

html, body{
	min-width:100%;
	min-height:100%;
}

.lan-header{
	background:#36454f;
	color:#fff;
	padding:50px;
	padding-left: 200px;
	position: relative;
}

.lan-header h1{

}

.lan-header img{
	position: absolute;
	width:50px;
	height:50px;
	top: 40px;
	left: 150px;
}

.itemwrap{
	height:1000px;
}

.items ul{
	height:100%;
	padding:0;
}

.items ul li{
	display:block;
	list-style:none;
	margin-bottom:5px;
	cursor:pointer;
	
}

.items ul li a{
	display:block;
	padding:10px 5px;
}

.items ul li:hover{
	background:#263138;
}

.frame{
	position:absolute;
	right:0;
	top:136px;
	bottom:0;
	width:100%;
	height:100%;
}

.side-nav h3 {
	padding-left:5px;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  background-color: #36454f;
  box-sizing: border-box;
  color: #fff;
  margin-left: -250px;
  transition: margin 200ms ease-in-out;
  z-index:1000;
  padding-top:20px;
  
}

.side-nav.nav-open {
  margin-left: 0;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
}

.nav-toggle {
  position: absolute;
  right: -135px;
  top: 0;
  width: 135px;
  height: 135px;
  background: #36454f;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
  cursor: pointer;
	padding: 40px;
	box-sizing: border-box;
	font-size: 30px;
}

.nav-toggle img{
	width: 50px;
	height: 50px;
}

.fa-home{
	position: absolute;
	right: 20px;
	top: 20px;
	color: #fff;
	z-index: 9999;
	border: 1px solid #fff;
	border-radius: 10px 10px 20px 20px;
	padding: 10px;
	cursor: pointer;
}


@media screen and (max-width: 1000px) {
	.hideable{
		display: none;
	}
	
	.lan-header img{
		top: 20px;
		left: 150px;
	}
	
	.nav-toggle{
	  right: -100px;
		height: 100px;
		width: 100px;
		padding: 25px;
	}
	
	.lan-header img{
		float:none;
		width:50px;
		height:50px;
		margin: 5px;
	}
	
	.frame{
		top: 100px;
	}
}
