
/* Reset */
*{
	margin: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{ max-width:100%; }

a{
	text-decoration:none;
	color:inherit;
}

/* End of Reset */