
h1{
	font-size:1.4em;
	font-family: 'Josefin Sans', sans-serif;
}

h2{
	font-size:40px;
	font-family: 'Josefin Sans', sans-serif;
}

h3{
	font-family: 'Raleway', sans-serif;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	font-size:1.1em;
}

/* Fonticons */
.fa{
	-webkit-transition: 0.4s;
	-ms-transition: 0.4s;
	-moz-transition:t 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.fa-arrow-down{
	margin-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}