@extends('layouts.dash')

@section('content')
    <div class="row">
        <h1>Update Project</h1>
        <form method="POST" action="/dash/projects/{{$project->id}}" enctype="multipart/form-data">
            <input name="_method" type="hidden" value="PUT">

                {{ csrf_field() }}


                <div class="form-group">
                    <label for="id">#</label>
                    <input type="number" name="id" value="{{ $project->id }}" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{ $project->name }}" placeholder="Name" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" name="description" value="{{ $project->description }}" placeholder="Description" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="owner">Owner</label>
                    <input type="text" name="owner" value="{{ $project->owner }}" placeholder="Owner" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="complete">Completed?</label>
                    <select name="complete"  class="form-control" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="link">Project Link</label>
                    <input type="text" value="{{ $project->link }}" name="link" placeholder="Link" class="form-control"/>
                </div>

            <div style="float: left;">
                <h3>Current Thumbnail</h3>
                <img src="/images/projects/{{ $project->icon }}" />
            </div>

            <div class="form-group" style="float:right;">

                <label for="thumbnail">Thumbnail</label>
                <input type="file" name="thumbnail" class="form-control" required/>

                <button type="submit" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>

@endsection


@section('scripts')

@endsection
