<div class="side-nav">
    <div class="dash-nav-header">
        <h2>fds</h2>
    </div>
    <ul>
        <li>
            <a href="/dash"><i class="fa fa-tachometer" aria-hidden="true"></i> Dash</a>
        </li>
        <li>
            <a href="/dash/projects"><i class="fa fa-folder" aria-hidden="true"></i> Projects</a>
        </li>
        <li>
            <a href="/dash/languages"><i class="fa fa-language" aria-hidden="true"></i> Languages</a>
        </li>
        <li>
            <a href="/dash/dependencies"><i class="fa fa-plug" aria-hidden="true"></i> Dependencies</a>
        </li>
        <li>
            <a href="/dash/examples"><i class="fa fa-code"></i> Examples</a>
        </li>
        <li>
            <a href="/dash/github"><i class="fa fa-github"></i> GitHub</a>
        </li>
        <li>
            <a href="/dash/twitter"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
        <li>
            <a href="/dash/contact"><i class="fa fa-phone"></i> Contact</a>
        </li>

    </ul>


    <ul class="nav-bottom">
        <li>
            <a href="/">See Public Home Page</a>
        </li>
    </ul>
</div>
