<div class="side-nav">
    <div class="dash-nav-header">
        
    </div>
    <ul>
        <li>
            <a href="/back"><i class="fa fa-tachometer" aria-hidden="true"></i> Dash</a>
        </li>
        <li>
            <a href="/back/projects"><i class="fa fa-folder" aria-hidden="true"></i> Projects</a>
        </li>
        <li>
            <a href="/back/languages"><i class="fa fa-language" aria-hidden="true"></i> Languages</a>
        </li>
        <li>
            <a href="/back/dependencies"><i class="fa fa-plug" aria-hidden="true"></i> Dependencies</a>
        </li>
        <li>
            <a href="/back/examples"><i class="fa fa-code"></i> Examples</a>
        </li>
        <li>
            <a href="/back/github"><i class="fa fa-github"></i> GitHub</a>
        </li>
        <li>
            <a href="/back/twitter"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
        <li>
            <a href="/back/contact"><i class="fa fa-phone"></i> Contact</a>
        </li>
        <li>
            <a href="/back/playground"><i class="fa fa-phone"></i> Playground</a>
        </li>
    </ul>
    <ul class="nav-bottom">
        <li>
            <a href="/">See Public Home Page</a>
        </li>
    </ul>
</div>
