<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="James Ryan Dordoy - Portfolio">
        <meta name="keywords" content="Portfolio, Webdesign, Software, HTML, Javascript, CSS, PHP, AJAX, ASP, ASP.Net, Java, Android, C++">
        <!-- font-awesome include -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="{{ mix("/css/app.css") }}">
        <link rel="stylesheet" href="/css/main.css">
        <!-- Title -->
    	<title>James Dordoy</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class='warpper fullscreen' id="app">
            {% include 'includes.nav' %}
            {% block hello %}{% endblock %}
            {% block main %}{% endblock %}
            {% include 'includes.footer' %}
        </div>
        {% block scripts %}{% endblock %}
        <script src="{{ mix("/js/app.js") }}"></script>
    </body>
</html>
