@extends('layouts.dash')

@section('content')
    <div class="row">
        <h1>Update Language</h1>
        <form method="POST" action="/dash/languages/{{ $language->id }}" enctype="multipart/form-data">
            <input name="_method" type="hidden" value="PUT">

            {{ csrf_field() }}

            <div class="form-group">
                <label for="id">#</label>
                <input type="number" name="id" value="{{ $language->id }}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" value="{{ $language->name }}" placeholder="Name" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" value="{{ $language->description }}" placeholder="Description" class="form-control" required/>
            </div>

            <div style="float: left;">
                <h3>Current Icon</h3>
                <img src="/images/languages/{{ $language->icon }}" />
            </div>

            <div class="form-group" style="float:right;">

                <label for="thumbnail">Thumbnail</label>
                <input type="file" name="thumbnail" class="form-control" required/>

                <button type="submit" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>

@endsection


@section('scripts')

@endsection
