<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Maxhotel - Gallery single</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="libraries/lib.css">
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/navigation-menu.css">	
	
	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- Loader -->
	<!--div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-clip-rotate">
				<div></div>
			</div>
		</div>
	</div--><!-- Loader /- -->
	
	<!-- Header -->
	<header class="header-section container-fluid no-padding">
		<!-- Top Header -->
		<div class="top-header container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<!-- Social -->
				<div class="col-md-7 col-sm-6 col-xs-12 info">
					<p><i class="icon icon-Pointer"></i>35, East St, New York, USA</p>
					<p><i class="icon icon-Phone2"></i><a href="tel:(+01)1234567890" title="Phone" class="phone">(+01) 123 456 7890</a></p>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-12 header-social"> 
					<h5>Follow Us</h5>
					<ul>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" title="Tripadvisor"><i class="fa fa-tripadvisor"></i></a></li>
					</ul>
				</div><!-- Social /- -->
			</div><!-- Container /- -->
		</div><!-- Top Header /- -->
		
		<!-- Menu Block -->
		<div class="menu-block container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Navigation -->
				<nav class="navbar ow-navigation">
					<div class="navbar-header">
						<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a title="Logo1" href="index.html" class="navbar-brand"><img src="images/logo.png"></a>
					</div>
					<div class="navbar-collapse collapse" id="navbar">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="index.html" title="Pages" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a href="index.html" title="HomePage 1">HomePage 1</a></li>
									<li><a href="index2.html" title="HomePage 2">HomePage 2</a></li>
								</ul>
							</li>
							<li><a title="About Us" href="about.html">About Us</a></li>
							<li><a title="Rooms" href="rooms.html">Rooms</a></li>
							<li><a title="Services" href="services.html">Services</a></li>
							<li class="dropdown active">
								<a href="gallery.html" title="Gallery" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a title="Gallery Single" href="gallery-single.html">Gallery Single</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" title="Pages" href="blog.html">Pages</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a title="Blog" href="blog.html">Blog</a></li>
									<li><a title="Blog Post" href="blog-post.html">Blog Post</a></li>
									<li><a title="404" href="404.html">404</a></li>
								</ul>
							</li>
							<li><a title="Contact" href="contact-us.html">Contact</a></li>
						</ul>						
					</div>
				</nav><!-- Navigation -->
			</div>
		</div><!-- Menu Block /- -->
	</header><!-- Header /- -->
	
	<main>
		<!-- Page Banner -->
		<div class="page-banner gallerysingle-banner container-fluid no-padding">
			<div class="banner-content">
				<h3>gallery single</h3>
				<ol class="breadcrumb">
					<li><a href="index.html" title="Home">Home</a></li>							
					<li><a href="gallery.html" title="Gallery">gallery</a></li>							
					<li class="active">Gallery Single</li>
				</ol>
			</div>
		</div><!-- Page Banner /- -->
		
		<!-- Gallery Single -->
		<div class="gallery-single container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<div class="flexslider gallery-details-full">
					<ul class="slides">
						<li>
							<img src="images/large-thumb.jpg" alt="large-thumb"/>
						</li>
						<li>
							<img src="images/large-thumb.jpg" alt="large-thumb"/>
						</li>
						<li>
							<img src="images/large-thumb.jpg" alt="large-thumb"/>
						</li>
						<li>
							<img src="images/large-thumb.jpg" alt="large-thumb"/>
						</li>
						<li>
							<img src="images/large-thumb.jpg" alt="large-thumb"/>
						</li>
					</ul>
				</div>
				<div class="flexslider gallery-details-thumb">
					<ul class="slides">
						<li>
							<img src="images/thumb-1.jpg" alt="thumb" />
						</li>
						<li>
							<img src="images/thumb-2.jpg" alt="thumb" />
						</li>
						<li>
							<img src="images/thumb-3.jpg" alt="thumb" />
						</li>
						<li>
							<img src="images/thumb-1.jpg" alt="thumb" />
						</li>
						<li>
							<img src="images/thumb-2.jpg" alt="thumb" />
						</li>
					</ul>
				</div>
				<div class="information-section">
					<div class="row">
						<div class="col-md-5 col-sm-6 col-xs-6">
							<div class="info-box">
								<h3>Place Name<span>Beach View</span></h3>
								<h3>Location<span>Victoria, USA</span></h3>
								<h3>Captured By<span>John Smith</span></h3>
								<h3>Date<span>May 26 ,2016</span></h3>
								<h3>Entrance Rate<span>$100</span></h3>
							</div>
						</div>
						<div class="col-md-7 col-sm-6 col-xs-6">
							<h3 class="info-heading">information</h3>
							<p class="info-content">Why do we always come here? I guess well never know. Its like a kind of torture to have to watch the show. As long as we live its you and me baby. There ain't nothin' wrong with that. Today still wanted by the government they survive as soldiers of fortune. Just two good ol' boys Never meanin' no harm. Beats all you've ever saw been in trouble with the law since the day they was born. The first mate and his Skipper too will do their very best to make the others comfortable in their tropic island nest? Didn't need no welfare states. Everybody pulled his weight.</p>
						</div>
					</div>
				</div>
				<div class="description-section">
					<h3 class="info-heading">description</h3>
					<p class="info-content">Baby if you've ever wondered - wondered whatever became of me. I'm living on the air in Cincinnati. Cincinnati WKRP. Their house is a museum where people come to see 'em. They really are a scream the Addams Family? Sunny Days sweepin' the clouds away. On my way to where the air is sweet. Can you tell me how to get how to get to Sesame Street. I have always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you. In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.</p>
					<p class="info-content">These men promptly escaped from a maximum security stockade to the Los Angeles underground. Believe it or not I'm walking on air. I never thought I could feel so free? Well we're movin' on up to the east side to a deluxe apartment in the sky. Why do we always come here? I guess well never know. Its like a kind of torture to have to watch the show!" It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine? Could you be mine? Its a neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine.</p>
				</div>
			</div><!-- Container /- -->
		</div><!-- Gallery Single -->
	</main>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="footer-main container-fluid no-padding">
		<!-- Top Footer -->
		<div class="top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Widget About -->
				<aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget widget_about">
					<h3 class="widget-title">about our <span>MAX</span></h3>
					<p>That this group would somehow form a family that's the way we all became the Brady Bunch. Doin' it our way. There's nothing we wont try never heard word.</p>
					<ul>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</aside><!-- Widget About /- -->
				<!-- Widget Links -->
				<aside class="col-md-2 col-sm-6 col-xs-6 ftr-widget widget_links">
					<h3 class="widget-title">Useful <span>links</span></h3>
					<ul>
						<li><a href="#" title="About Us">About Us</a></li>
						<li><a href="#" title="Our Packages">Our Packages</a></li>
						<li><a href="#" title="Popular Destination">Popular Destination</a></li>
						<li><a href="#" title="Top Destination">Top Destination</a></li>
						<li><a href="#" title="Latest News">Latest News</a></li>
						<li><a href="#" title="Our Gallery">Our Gallery</a></li>
					</ul>
				</aside><!-- Widget Links -->
				<!-- Widget Hours -->
				<aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget widget_hours">
					<h3 class="widget-title">opening <span>hours</span></h3>
					<p>Monday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Tuesday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Wednesday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Thursday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Friday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Saturday <span>-</span> 9:00AM to 6:00PM</p>
				</aside><!-- Widget Hours /- -->
				<!-- Widget Destination -->
				<aside class="col-md-4 col-sm-6 col-xs-6 ftr-widget widget_destination">
					<h3 class="widget-title">popular <span>destination</span></h3>
					<ul>
						<li><a href="#" title=""><img src="images/desti-1.jpg" alt="desti"></a></li>
						<li><a href="#" title=""><img src="images/desti-2.jpg" alt="desti"></a></li>
						<li><a href="#" title=""><img src="images/desti-3.jpg" alt="desti"></a></li>
						<li><a href="#" title=""><img src="images/desti-4.jpg" alt="desti"></a></li>
					</ul>
				</aside><!-- Widget Destination /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer /- -->
		
		<div class="bottom-footer container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="col-md-3 col-sm-12 col-xs-12 coyright-content">
					<p>&copy; 2016 All Rights Reserved</p>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="ftr-navbar" aria-expanded="false" data-target="#ftr-navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse" id="ftr-navbar">
							<ul class="nav navbar-nav">
								<li><a href="index.html" title="Home">Home</a></li>
								<li><a href="about.html" title="About Us">About Us</a></li>
								<li><a href="rooms.html" title="Rooms">Rooms</a></li>
								<li><a href="services.html" title="Services">Services</a></li>
								<li><a href="gallery.html" title="Gallery">Gallery</a></li>
								<li><a href="contact-us.html" title="Contact">Contact</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
				</div>
			</div><!-- Container -->
		</div>
	</footer><!-- Footer Main /- -->

	<!-- JQuery v1.11.3 -->
	<script src="js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="libraries/lib.js"></script><!-- Bootstrap JS File v3.3.5 -->
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>

	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>
	
	<!-- Library - Theme JS -->
	<script src="js/functions.js"></script>
</body>
</html>