<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Maxhotel - Home1</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="libraries/lib.css">
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/navigation-menu.css">	
	
	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- Loader -->
	<!--div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-clip-rotate">
				<div></div>
			</div>
		</div>
	</div--><!-- Loader /- -->
	
	<!-- Header -->
	<header class="header-section container-fluid no-padding">
		<!-- Top Header -->
		<div class="top-header container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<!-- Social -->
				<div class="col-md-7 col-sm-6 col-xs-12 info">
					<p><i class="icon icon-Pointer"></i>35, East St, New York, USA</p>
					<p><i class="icon icon-Phone2"></i><a href="tel:(+01)1234567890" title="Phone" class="phone">(+01) 123 456 7890</a></p>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-12 header-social"> 
					<h5>Follow Us</h5>
					<ul>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" title="Tripadvisor"><i class="fa fa-tripadvisor"></i></a></li>
					</ul>
				</div><!-- Social /- -->
			</div><!-- Container /- -->
		</div><!-- Top Header /- -->
		
		<!-- Menu Block -->
		<div class="menu-block container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Navigation -->
				<nav class="navbar ow-navigation">
					<div class="navbar-header">
						<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a title="Logo1" href="index.html" class="navbar-brand"><img src="images/logo.png"></a>
					</div>
					<div class="navbar-collapse collapse" id="navbar">
						<ul class="nav navbar-nav">
							<li class="dropdown active">
								<a href="index.html" title="Pages" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a href="index.html" title="HomePage 1">HomePage 1</a></li>
									<li><a href="index2.html" title="HomePage 2">HomePage 2</a></li>
								</ul>
							</li>
							<li><a title="About Us" href="about.html">About Us</a></li>
							<li><a title="Rooms" href="rooms.html">Rooms</a></li>
							<li><a title="Services" href="services.html">Services</a></li>
							<li class="dropdown">
								<a href="gallery.html" title="Gallery" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a title="Gallery Single" href="gallery-single.html">Gallery Single</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" title="Pages" href="blog.html">Pages</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a title="Blog" href="blog.html">Blog</a></li>
									<li><a title="Blog Post" href="blog-post.html">Blog Post</a></li>
									<li><a title="404" href="404.html">404</a></li>
								</ul>
							</li>
							<li><a title="Contact" href="contact-us.html">Contact</a></li>
						</ul>						
					</div>
				</nav><!-- Navigation -->
			</div>
		</div><!-- Menu Block /- -->
	</header><!-- Header /- -->
	
	<main>
		<!-- Slider Section 2 -->
		<div id="home-revslider" class="slider-section container-fluid no-padding">
			<!-- START REVOLUTION SLIDER 5.0 -->
			<div class="rev_slider_wrapper">
				<div id="home-slider1" class="rev_slider" data-version="5.0">
					<ul>
						<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
							<img src="images/slider-1.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-0"
								data-x="['center','center','center','center']" 
								data-y="['middle','middle','middle','middle']" 
								data-basealign="slide" 
								data-height="full" 
								data-hoffset="['0','0','0','0']" 
								data-responsive="off" 
								data-responsive_offset="off" 
								data-start="0" 
								data-transform_idle="o:1;" 
								data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
								data-transform_out="opacity:0;s:500;s:500;" 
								data-voffset="['0','0','0','0']" 
								data-whitespace="nowrap" 
								data-width="full"
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.502);">
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-1" 
								data-x="['left','left','left','left']" data-hoffset="['400','125','100','70']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-200','-80','-100','-100']" 
								data-fontsize="['54','40','30','20']"
								data-lineheight="['70','60','60','60']"
								data-fontweight="['600','600','600','600']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="chars" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: nowrap; color:#fff; font-family: 'Open Sans', sans-serif; text-transform: uppercase">we are your partner to find a  
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-2" 
								data-x="['left','left','left','left']" data-hoffset="['400','125','100','70']" 
								data-y="['top','top','top','top']" data-voffset="['275','300','215','150']" 
								data-fontsize="['54','45','30','20']"
								data-fontweight="['400','400','400','400']"
								data-lineheight="['76','24','24','24']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;" 
								data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; color:#fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase;">luxury resort
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-3" 
								data-x="['left','left','left','left']" data-hoffset="['400','125','100','70']" 
								data-y="['top','top','top','top']" data-voffset="['400','375','280','215']" 
								data-fontsize="['16','12','12','12']"
								data-fontweight="['600','600','600','600']"
								data-lineheight="['28','20','20','20']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
								data-style_hover="c:rgba(162, 144, 97, 1.00);bg:rgba(255, 255, 255, 1.00);"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="2000" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
								data-responsive_offset="on" 
								data-responsive="off"
								style="z-index: 10; padding:8px 33px; letter-spacing:0.16px; color: #fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">explore it
							</div>
						</li>
						
						<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
							<img src="images/slider-3.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-4"
								data-x="['center','center','center','center']" 
								data-y="['middle','middle','middle','middle']" 
								data-basealign="slide" 
								data-height="full" 
								data-hoffset="['0','0','0','0']" 
								data-responsive="off" 
								data-responsive_offset="off" 
								data-start="0" 
								data-transform_idle="o:1;" 
								data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
								data-transform_out="opacity:0;s:500;s:500;" 
								data-voffset="['0','0','0','0']" 
								data-whitespace="nowrap" 
								data-width="full"
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.702);">
							</div>
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-5" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','35']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-215','-80','-100','-100']" 
								data-fontsize="['50','30','25','15']"
								data-lineheight="['72','45','35','25']"
								data-fontweight="['600','600','600','600']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="chars" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: nowrap; color:#fff; font-family: 'Open Sans', sans-serif;">Fifty Hotels,<br>Twenty-Two Countries,<br>One Philosophy.   
							</div>
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-6" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','35']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-50','40','10','10']" 
								data-fontsize="['18','18','20','16']"
								data-lineheight="['24','24','24','24']"
								data-fontweight="['300','300','300','300']"
								data-width="['1920','1024','768','400']"
								data-height="none"
								data-whitespace="normal"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: normal; letter-spacing: 0.45px; word-wrap: break-word; min-width: 1920px; max-width: 1920px; color:#fff; font-family: 'Open Sans', sans-serif; font-style:italic;">So join us here each week my friends you're sure to get a smile from seven <br>stranded castaways here on Gilligans Isle. Didn't need no welfare states. Every-<br>body pulled his weight. 
							</div>
							<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-7" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','35']" 
								data-y="['top','top','top','top']" data-voffset="['480','454','375','330']" 
								data-fontsize="['16.2','12','12','12']"
								data-fontweight="['600','600','600','600']"
								data-lineheight="['28','20','20','20']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
								data-style_hover="c:rgba(162, 144, 97, 1.00);bg:rgba(255, 255, 255, 1.00);"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="2000" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
								data-responsive_offset="on" 
								data-responsive="off"
								style="z-index: 10; padding:8px 33px; letter-spacing:0.405px; color: #fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">contact us
							</div>
						</li>
						
						<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
							<img src="images/slider-4.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-8"
								data-x="['center','center','center','center']" 
								data-y="['middle','middle','middle','middle']" 
								data-basealign="slide" 
								data-height="full" 
								data-hoffset="['0','0','0','0']" 
								data-responsive="off" 
								data-responsive_offset="off" 
								data-start="0" 
								data-transform_idle="o:1;" 
								data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
								data-transform_out="opacity:0;s:500;s:500;" 
								data-voffset="['0','0','0','0']" 
								data-whitespace="nowrap" 
								data-width="full"
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.6);">
							</div>
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-9" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','55']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-135','-80','-100','-100']" 
								data-fontsize="['50','30','25','20']"
								data-lineheight="['72','45','35','25']"
								data-fontweight="['600','600','600','600']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="chars" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: nowrap; color:#fff; font-family: 'Open Sans', sans-serif;">Discover a Hotel that Defines a<br>New Dimension of Luxury   
							</div>
							<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-10" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','55']" 
								data-y="['top','top','top','top']" data-voffset="['430','330','250','200']" 
								data-fontsize="['16.2','12','12','12']"
								data-fontweight="['600','600','600','600']"
								data-lineheight="['28','20','20','20']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
								data-style_hover="c:rgba(162, 144, 97, 1.00);bg:rgba(255, 255, 255, 1.00);"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="2000" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
								data-responsive_offset="on" 
								data-responsive="off"
								style="z-index: 10; padding:8px 33px; letter-spacing:0.405px; color: #fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">contact us
							</div>
						</li>
					</ul>
				</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END OF SLIDER WRAPPER -->
			<!-- Booking Section 1 -->
			<div class="booking-section-1 container-fluid">
				<!-- Container -->
				<div class="container">
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="booking-content-block">
							<h5>Book <span>your rooms</span></h5>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-6">
						<div id="datepicker3" class="input-group col-md-3 col-sm-3 col-xs-12">
							<input class="form-control datepicker" placeholder="Arrival Date" type="text">
							<span class="input-group-addon add-on">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div id="datepicker4" class="input-group col-md-3 col-sm-3 col-xs-12">
							<input class="form-control datepicker" placeholder="Departure Date" type="text">
							<span class="input-group-addon add-on">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div class="form-group col-md-3 col-sm-3 col-xs-12">
							<select>
								<option>No of Rooms</option>
								<option>No of Rooms</option>
								<option>No of Rooms</option>
								<option>No of Rooms</option>
							</select>
						</div>
						<a href="#" title="Book Now" class="book-now">Book Now</a>
					</div>
				</div><!-- Container /- -->
			</div><!-- Booking Section 1 -->
		</div><!-- Slider Section 2 /- -->
		
		<!-- Welcome Section -->
		<div class="welcome-section container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header section-header-2">
					<h3>welcome to <span>max</span> hotel booking</h3>
				</div><!-- Section Header /- -->
				<div class="welcome-content">
					<p>Now were up in the big leagues getting' our turn at bat. One two three four five six seven eight Sclemeel schlemazel hasenfeffer incorporated. Love exciting and new. Come aboard were expecting you. Love life's sweetest reward Let it flow it floats back to you.But they got diff'rent strokes. It takes diff'rent strokes  are the voyages of the Starship Enterprise.</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 welcome-outer">
					<div class="welcome-box">
						<span>Winner of</span>
						<p>Best Hotel Booking Website Award</p>
						<i class="icon icon-Cup"></i>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 welcome-outer">
					<div class="welcome-box">
						<span>A true</span>
						<p>Luxury Hotel and Resorts</p>
						<i class="icon icon-Starship"></i>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 welcome-outer">
					<div class="welcome-box">
						<span>A true</span>
						<p>Offers and low Cost</p>
						<i class="icon icon-Bag"></i>
					</div>
				</div>
			</div><!-- Container / -->
		</div><!-- Welcome Section /- -->
		
		<!-- Whychooseus Section -->
		<div class="whychooseus-section container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header section-header-2">
					<h3>why to choose us?</h3>
				</div><!-- Section Header /- -->
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="choose-us-box">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding choose-us-block">
							<div class="col-md-5 col-sm-4 col-xs-12 choose-us-cover">
								<i><img src="images/choose-us-1.jpg" alt="choose-us" /></i>
								<a class="zoom" href="images/choose-us-1.jpg" title="offer"><i class="icon icon-Linked"></i></a>
							</div>
							<div class="col-md-7 col-sm-8 col-xs-12 choose-us-content">
								<h5>The World Class Restaurant</h5>
								<p>Go Speed Racer. Go Speed Racer. Go Speed Racer go!; Come and knock on our door. We've waiting for you. Where the kisses are hers and hers and his.</p>
								<a href="#" title="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="choose-us-box">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding choose-us-block">
							<div class="col-md-5 col-sm-4 col-xs-12 choose-us-cover">
								<i><img src="images/choose-us-2.jpg" alt="choose-us" /></i>
								<a class="zoom" href="images/choose-us-2.jpg" title="offer"><i class="icon icon-Linked"></i></a>
							</div>
							<div class="col-md-7 col-sm-8 col-xs-12 choose-us-content">
								<h5>Luxury Rooms and Resorts</h5>
								<p>Go Speed Racer. Go Speed Racer. Go Speed Racer go!; Come and knock on our door. We've waiting for you. Where the kisses are hers and hers and his.</p>
								<a href="#" title="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="choose-us-box">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding choose-us-block">
							<div class="col-md-5 col-sm-4 col-xs-12 choose-us-cover">
								<i><img src="images/choose-us-3.jpg" alt="choose-us" /></i>
								<a class="zoom" href="images/choose-us-3.jpg" title="offer"><i class="icon icon-Linked"></i></a>
							</div>
							<div class="col-md-7 col-sm-8 col-xs-12 choose-us-content">
								<h5>The Wellness and SPA</h5>
								<p>Go Speed Racer. Go Speed Racer. Go Speed Racer go!; Come and knock on our door. We've waiting for you. Where the kisses are hers and hers and his.</p>
								<a href="#" title="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="choose-us-box">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding choose-us-block">
							<div class="col-md-5 col-sm-4 col-xs-12 choose-us-cover">
								<i><img src="images/choose-us-4.jpg" alt="choose-us" /></i>
								<a class="zoom" href="images/choose-us-4.jpg" title="offer"><i class="icon icon-Linked"></i></a>
							</div>
							<div class="col-md-7 col-sm-8 col-xs-12 choose-us-content">
								<h5>International Cousine</h5>
								<p>Go Speed Racer. Go Speed Racer. Go Speed Racer go!; Come and knock on our door. We've waiting for you. Where the kisses are hers and hers and his.</p>
								<a href="#" title="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Whychooseus Section /- -->
		
		<!-- Offer Section -->
		<div class="offer-section container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header section-header-2">
					<h3>rooms we offer</h3>
				</div><!-- Section Header /- -->
				<div class="offer-carousel">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="offer-box">
							<i><img src="images/offer-1.jpg" alt="offer"></i>
							<div class="offer-content">
								<h5>standard room</h5>
								<p>As long as we live its you and me baby. There ain't nothin' wrong with that. Just two good ol' boys Never meanin' no harm.</p>
								<span>From $200 / Night</span>
								<a class="zoom" href="images/offer-1.jpg" title="offer"><i class="fa fa-plus"></i></a>
								<a href="#" title="Book Now" class="book-now">Book Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="offer-box">
							<i><img src="images/offer-2.jpg" alt="offer"></i>
							<div class="offer-content">
								<h5>luxury room</h5>
								<p>As long as we live its you and me baby. There ain't nothin' wrong with that. Just two good ol' boys Never meanin' no harm.</p>
								<span>From $500 / Night</span>
								<a class="zoom" href="images/offer-2.jpg" title="offer"><i class="fa fa-plus"></i></a>
								<a href="#" title="Book Now" class="book-now">Book Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="offer-box">
							<i><img src="images/offer-3.jpg" alt="offer"></i>
							<div class="offer-content">
								<h5>deluxe room</h5>
								<p>As long as we live its you and me baby. There ain't nothin' wrong with that. Just two good ol' boys Never meanin' no harm.</p>
								<span>From $900 / Night</span>
								<a class="zoom" href="images/offer-3.jpg" title="offer"><i class="fa fa-plus"></i></a>
								<a href="#" title="Book Now" class="book-now">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Offer Section /- -->
		
		<!-- Counter Section -->
		<div class="counter-section container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="counter-box">
						<i class="icon icon-Users"></i>
						<h3><span class="count" id="statistics_count-1" data-statistics_percent="1434"> &nbsp;</span></h3>
						<p>happy clients</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="counter-box">
						<i class="icon icon-House"></i>
						<h3><span class="count" id="statistics_count-2" data-statistics_percent="74"> &nbsp;</span></h3>
						<p>Hotels</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="counter-box">
						<i class="icon icon-Tie"></i>
						<h3><span class="count" id="statistics_count-3" data-statistics_percent="726"> &nbsp;</span></h3>
						<p>our employees</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="counter-box">
						<i class="icon icon-Cup"></i>
						<h3><span class="count" id="statistics_count-4" data-statistics_percent="46"> &nbsp;</span></h3>
						<p>awards</p>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Counter Section /- -->
		
		<!-- Gallery Section -->
		<div class="gallery-section container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>our gallery</h3>
				</div><!-- Section Header /- -->
				<ul id="filters" class="portfolio-categories no-left-padding">
					<li><a data-filter="*" class="active" href="#">All</a></li>
					<li><a data-filter=".design" href="#">rooms</a></li>
					<li><a data-filter=".video" href="#">resorts</a></li>
					<li><a data-filter=".photography" href="#">restaurant</a></li>
					<li><a data-filter=".web" href="#">spa & pool</a></li>
				</ul>
				<ul class="portfolio-list no-left-padding">
					<li class="col-md-4 col-sm-4 col-xs-6 design">
						<div class="content-image-block">
							<img src="images/gallery-1.jpg" alt="gallery">
							<div class="content-block-hover">
								<h5>beach view</h5>
								<p>Victoria.</p>
								<a class="zoom" href="images/gallery-1.jpg" title="Expand"><i class="fa fa-search"></i></a>
								<a href="gallery-single.html" title="Link"><i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-6 video">
						<div class="content-image-block">
							<img src="images/gallery-2.jpg" alt="gallery">
							<div class="content-block-hover">
								<h5>beach view</h5>
								<p>Victoria.</p>
								<a class="zoom" href="images/gallery-2.jpg" title="Expand"><i class="fa fa-search"></i></a>
								<a href="gallery-single.html" title="Link"><i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-6 photography">
						<div class="content-image-block">
							<img src="images/gallery-3.jpg" alt="gallery">
							<div class="content-block-hover">
								<h5>beach view</h5>
								<p>Victoria.</p>
								<a class="zoom" href="images/gallery-3.jpg" title="Expand"><i class="fa fa-search"></i></a>
								<a href="gallery-single.html" title="Link"><i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-6 design">
						<div class="content-image-block">
							<img src="images/gallery-4.jpg" alt="gallery">
							<div class="content-block-hover">
								<h5>beach view</h5>
								<p>Victoria.</p>
								<a class="zoom" href="images/gallery-4.jpg" title="Expand"><i class="fa fa-search"></i></a>
								<a href="gallery-single.html" title="Link"><i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-6 photography">
						<div class="content-image-block">
							<img src="images/gallery-5.jpg" alt="gallery">
							<div class="content-block-hover">
								<h5>beach view</h5>
								<p>Victoria.</p>
								<a class="zoom" href="images/gallery-5.jpg" title="Expand"><i class="fa fa-search"></i></a>
								<a href="gallery-single.html" title="Link"><i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-6 web">
						<div class="content-image-block">
							<img src="images/gallery-6.jpg" alt="gallery">
							<div class="content-block-hover">
								<h5>beach view</h5>
								<p>Victoria.</p>
								<a class="zoom" href="images/gallery-6.jpg" title="Expand"><i class="fa fa-search"></i></a>
								<a href="gallery-single.html" title="Link"><i class="fa fa-external-link"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- Container /- -->
		</div><!-- Gallery Section /- -->
		
		<!-- Callout -->
		<div class="callout container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="call-out-content">
					<h3>We are MAX, Your top Holiday Booker</h3>
					<p>Thank you for being a friend. Travelled down the road and back again.Your heart is true you're a pal and a confidant. </p>
					<a href="#" title="Book Now">Book Now</a>
				</div>
			</div><!-- Container /- -->
		</div><!-- Callout /- -->
		
		<!-- Clients -->
		<div class="clients container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>our trusted clients</h3>
				</div><!-- Section Header /- -->
				<div class="clients-carousel">
					<div class="col-md-12 item"><a href="#" title="client"><img src="images/clients-1.png" alt="clients-1"/></a></div>
					<div class="col-md-12 item"><a href="#" title="client"><img src="images/clients-2.png" alt="clients-2"/></a></div>
					<div class="col-md-12 item"><a href="#" title="client"><img src="images/clients-3.png" alt="clients-3"/></a></div>
					<div class="col-md-12 item"><a href="#" title="client"><img src="images/clients-4.png" alt="clients-4"/></a></div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Clients /- -->
		
		<!-- Event Section -->
		<div class="event-section container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header section-header-1">
					<p>Upcomming</p>
					<h3>events</h3>
				</div><!-- Section Header /- -->
				<div class="col-md-4 col-sm-6 col-xs-6 event-box">
					<img src="images/event-1.jpg" alt="service" />
					<div class="event-content">
						<div class="event-date">
							<p>15</p>
							<span>May</span>
						</div>
						<h5 class="event-title"><a href="#">colorfull night events</a></h5>
						<p><i class="icon icon-Pointer"></i>Victoria, USA</p>
						<p><i class="icon icon-User"></i><a href="#">Mike Hurry</a></p>
						<a href="#" class="view-detail">view detail<i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 event-box">
					<img src="images/event-2.jpg" alt="service" />
					<div class="event-content">
						<div class="event-date">
							<p>25</p>
							<span>May</span>
						</div>
						<h5 class="event-title"><a href="#">movie fair</a></h5>
						<p><i class="icon icon-Pointer"></i>Victoria, USA</p>
						<p><i class="icon icon-User"></i><a href="#">Mike Hurry</a></p>
						<a href="#" class="view-detail">view detail<i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 event-box">
					<img src="images/event-3.jpg" alt="service" />
					<div class="event-content">
						<div class="event-date">
							<p>28</p>
							<span>May</span>
						</div>
						<h5 class="event-title"><a href="#">summer holiday trip</a></h5>
						<p><i class="icon icon-Pointer"></i>Victoria, USA</p>
						<p><i class="icon icon-User"></i><a href="#">Mike Hurry</a></p>
						<a href="#" class="view-detail">view detail<i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Event Section /- -->
	</main>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="footer-main container-fluid no-padding">
		<!-- Top Footer -->
		<div class="top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Widget About -->
				<aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget widget_about">
					<h3 class="widget-title">about our <span>MAX</span></h3>
					<p>That this group would somehow form a family that's the way we all became the Brady Bunch. Doin' it our way. There's nothing we wont try never heard word.</p>
					<ul>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</aside><!-- Widget About /- -->
				<!-- Widget Links -->
				<aside class="col-md-2 col-sm-6 col-xs-6 ftr-widget widget_links">
					<h3 class="widget-title">Useful <span>links</span></h3>
					<ul>
						<li><a href="#" title="About Us">About Us</a></li>
						<li><a href="#" title="Our Packages">Our Packages</a></li>
						<li><a href="#" title="Popular Destination">Popular Destination</a></li>
						<li><a href="#" title="Top Destination">Top Destination</a></li>
						<li><a href="#" title="Latest News">Latest News</a></li>
						<li><a href="#" title="Our Gallery">Our Gallery</a></li>
					</ul>
				</aside><!-- Widget Links -->
				<!-- Widget Hours -->
				<aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget widget_hours">
					<h3 class="widget-title">opening <span>hours</span></h3>
					<p>Monday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Tuesday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Wednesday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Thursday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Friday <span>-</span> 9:00AM to 6:00PM</p>
					<p>Saturday <span>-</span> 9:00AM to 6:00PM</p>
				</aside><!-- Widget Hours /- -->
				<!-- Widget Destination -->
				<aside class="col-md-4 col-sm-6 col-xs-6 ftr-widget widget_destination">
					<h3 class="widget-title">popular <span>destination</span></h3>
					<ul>
						<li><a href="#" title=""><img src="images/desti-1.jpg" alt="desti"></a></li>
						<li><a href="#" title=""><img src="images/desti-2.jpg" alt="desti"></a></li>
						<li><a href="#" title=""><img src="images/desti-3.jpg" alt="desti"></a></li>
						<li><a href="#" title=""><img src="images/desti-4.jpg" alt="desti"></a></li>
					</ul>
				</aside><!-- Widget Destination /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer /- -->
		
		<div class="bottom-footer container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="col-md-3 col-sm-12 col-xs-12 coyright-content">
					<p>&copy; 2016 All Rights Reserved</p>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="ftr-navbar" aria-expanded="false" data-target="#ftr-navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse" id="ftr-navbar">
							<ul class="nav navbar-nav">
								<li class="active"><a href="index.html" title="Home">Home</a></li>
								<li><a href="about.html" title="About Us">About Us</a></li>
								<li><a href="rooms.html" title="Rooms">Rooms</a></li>
								<li><a href="services.html" title="Services">Services</a></li>
								<li><a href="gallery.html" title="Gallery">Gallery</a></li>
								<li><a href="contact-us.html" title="Contact">Contact</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
				</div>
			</div><!-- Container -->
		</div>
	</footer><!-- Footer Main /- -->

	<!-- JQuery v1.11.3 -->
	<script src="js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="libraries/lib.js"></script><!-- Bootstrap JS File v3.3.5 -->
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>

	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>
	
	<!-- Library - Theme JS -->
	<script src="js/functions.js"></script>
</body>
</html>