<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Maxhotel - Home2</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
 
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
	
	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="libraries/lib.css">
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/navigation-menu.css">	
	
	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- Loader -->
	<!--div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-clip-rotate">
				<div></div>
			</div>
		</div>
	</div--><!-- Loader /- -->
	
	<!-- Header -->
	<header class="header-section header-section-1 container-fluid no-padding">
		<!-- Top Header 1 -->
		<div class="top-header top-header-1 container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<!-- Info -->
					<div class="col-md-7 col-sm-6 col-xs-12 info">
						<p><i class="icon icon-Phone2"></i><a href="tel:(+01)1234567890" title="Phone" class="phone">(+01) 123 456 7890</a></p>
						<p><i class="icon icon-Pointer"></i>09, Downtown St, Victoria, Australia</p>
					</div><!-- Info /- -->
					<!-- Social -->
					<div class="col-md-5 col-sm-6 col-xs-12 header-social"> 
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" title="Skype"><i class="fa fa-skype"></i></a></li>
						</ul>
					</div><!-- Social /- -->
				</div>
			</div><!-- Container /- -->
		</div><!-- Top Header 1 /- -->
		
		<!-- Menu Block -->
		<div class="menu-block container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- nav -->
				<nav class="navbar navbar-default ow-navigation">
					<div class="navbar-header">
						<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a title="Logo1" href="index.html" class="navbar-brand"><img src="images/logo-inverse.png"></a>
					</div>
					<!-- Menu Icon -->
					<div class="menu-icon">
						<div class="search">	
							<a href="#" id="search" title="Search"><i class="icon icon-Search"></i></a>
						</div>
					</div><!-- Menu Icon /- -->
					<div class="navbar-collapse collapse navbar-right" id="navbar">
						<ul class="nav navbar-nav header2">
							<li class="dropdown active">
								<a href="index.html" title="Pages" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a href="index.html" title="HomePage 1">HomePage 1</a></li>
									<li><a href="index2.html" title="HomePage 2">HomePage 2</a></li>
								</ul>
							</li>
							<li><a title="About Us" href="about.html">About Us</a></li>
							<li><a title="Rooms" href="rooms.html">Rooms</a></li>
							<li><a title="Services" href="services.html">Services</a></li>
							<li class="dropdown">
								<a href="gallery.html" title="Gallery" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a title="Gallery Single" href="gallery-single.html">Gallery Single</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" title="Pages" href="blog.html">Pages</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">	
									<li><a title="Blog" href="blog.html">Blog</a></li>
									<li><a title="Blog Post" href="blog-post.html">Blog Post</a></li>
									<li><a title="404" href="404.html">404</a></li>
								</ul>
							</li>
							<li><a title="Contact" href="contact-us.html">Contact</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</nav><!-- nav /- -->
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input class="form-control" placeholder="Enter a keyword and press enter..." type="text"></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header /- -->
	
	<main>
		<!-- Slider Section 2 -->
		<div id="home-revslider" class="slider-section slider-section2 container-fluid no-padding">
			<!-- START REVOLUTION SLIDER 5.0 -->
			<div class="rev_slider_wrapper">
				<div id="home-slider2" class="rev_slider" data-version="5.0">
					<ul> 
						<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
							<img src="images/slider-2.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-0"
								data-x="['center','center','center','center']" 
								data-y="['middle','middle','middle','middle']" 
								data-basealign="slide" 
								data-height="full" 
								data-hoffset="['0','0','0','0']" 
								data-responsive="off" 
								data-responsive_offset="off" 
								data-start="0" 
								data-transform_idle="o:1;" 
								data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
								data-transform_out="opacity:0;s:500;s:500;" 
								data-voffset="['0','0','0','0']" 
								data-whitespace="nowrap" 
								data-width="full"
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.651);">
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-1" 
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-50','0','-60','-50']" 
								data-fontsize="['60','45','30','20']"
								data-lineheight="['76','60','60','60']"
								data-fontweight="['400','400','400','400']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="chars" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: nowrap; letter-spacing: 1.5px; color:#fff; font-family: 'Vollkorn', serif;">A Journey is Best Measured in Friends,  
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-2" 
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								data-y="['top','top','top','top']" data-voffset="['425','380','250','200']" 
								data-fontsize="['60','45','30','20']"
								data-fontweight="['400','400','400','400']"
								data-lineheight="['76','24','24','24']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;" 
								data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; color:#fff; letter-spacing: 1.5px; font-family: 'Vollkorn', serif;">Rather than Miles
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-3" 
								data-x="['right','right','right','center']" data-hoffset="['845','425','278','0']" 
								data-y="['top','top','top','top']" data-voffset="['555','455','315','270']" 
								data-fontsize="['16.2','12','12','12']"
								data-fontweight="['600','600','600','600']"
								data-lineheight="['28','20','20','20']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
								data-style_hover="c:rgba(162, 144, 97, 1.00);bg:rgba(255, 255, 255, 1.00);"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="2000" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
								data-responsive_offset="on" 
								data-responsive="off"
								style="z-index: 10; padding:8px 33px; letter-spacing:0.405px; color: #fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">check availability
							</div>
						</li>
						
						<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
							<img src="images/slider-1.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-4"
								data-x="['center','center','center','center']" 
								data-y="['middle','middle','middle','middle']" 
								data-basealign="slide" 
								data-height="full" 
								data-hoffset="['0','0','0','0']" 
								data-responsive="off" 
								data-responsive_offset="off" 
								data-start="0" 
								data-transform_idle="o:1;" 
								data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
								data-transform_out="opacity:0;s:500;s:500;" 
								data-voffset="['0','0','0','0']" 
								data-whitespace="nowrap" 
								data-width="full"
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.651);">
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-5" 
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-50','0','-60','-50']" 
								data-fontsize="['60','45','30','20']"
								data-lineheight="['76','60','60','60']"
								data-fontweight="['400','400','400','400']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="chars" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: nowrap; letter-spacing: 1.5px; color:#fff; font-family: 'Vollkorn', serif;">A Journey is Best Measured in Friends,  
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-6" 
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
								data-y="['top','top','top','top']" data-voffset="['425','380','250','200']" 
								data-fontsize="['60','45','30','20']"
								data-fontweight="['400','400','400','400']"
								data-lineheight="['76','24','24','24']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;" 
								data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; color:#fff; letter-spacing: 1.5px; font-family: 'Vollkorn', serif;">Rather than Miles
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-7" 
								data-x="['right','right','right','center']" data-hoffset="['845','425','278','0']" 
								data-y="['top','top','top','top']" data-voffset="['555','455','315','270']" 
								data-fontsize="['16.2','12','12','12']"
								data-fontweight="['600','600','600','600']"
								data-lineheight="['28','20','20','20']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
								data-style_hover="c:rgba(162, 144, 97, 1.00);bg:rgba(255, 255, 255, 1.00);"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="2000" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
								data-responsive_offset="on" 
								data-responsive="off"
								style="z-index: 10; padding:8px 33px; letter-spacing:0.405px; color: #fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">check availability
							</div>
						</li>
						<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
							<img src="images/slider-4.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper" id="slide-layer-8"
								data-x="['center','center','center','center']" 
								data-y="['middle','middle','middle','middle']" 
								data-basealign="slide" 
								data-height="full" 
								data-hoffset="['0','0','0','0']" 
								data-responsive="off" 
								data-responsive_offset="off" 
								data-start="0" 
								data-transform_idle="o:1;" 
								data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;" 
								data-transform_out="opacity:0;s:500;s:500;" 
								data-voffset="['0','0','0','0']" 
								data-whitespace="nowrap" 
								data-width="full"
								style="z-index: 5;background-color:rgba(0, 0, 0, 0.6);">
							</div>
							<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-9" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','55']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-135','-80','-100','-100']" 
								data-fontsize="['50','30','25','20']"
								data-lineheight="['72','45','35','25']"
								data-fontweight="['600','600','600','600']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="chars" 
								data-splitout="none" 
								data-responsive_offset="on"
								data-elementdelay="0.05" 
								style="z-index: 5; white-space: nowrap; color:#fff; font-family: 'Open Sans', sans-serif;">Discover a Hotel that Defines a<br>New Dimension of Luxury   
							</div>
							<div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-10" 
								data-x="['left','left','left','left']" data-hoffset="['550','125','100','55']" 
								data-y="['top','top','top','top']" data-voffset="['430','330','250','200']" 
								data-fontsize="['16.2','12','12','12']"
								data-fontweight="['600','600','600','600']"
								data-lineheight="['28','20','20','20']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
								data-style_hover="c:rgba(162, 144, 97, 1.00);bg:rgba(255, 255, 255, 1.00);"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="2000" 
								data-splitin="none" 
								data-splitout="none" 
								data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
								data-responsive_offset="on" 
								data-responsive="off"
								style="z-index: 10; padding:8px 33px; letter-spacing:0.405px; color: #fff; font-family: 'Open Sans', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">contact us
							</div>
						</li>
					</ul>
				</div><!-- END REVOLUTION SLIDER -->
			</div><!-- END OF SLIDER WRAPPER -->
		</div><!-- Slider Section 2 /- -->
		
		<!-- Welcome Section -->
		<div class="welcome-section-1 container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="col-md-4 col-sm-5 col-xs-5 wc-1-img">
					<i><img src="images/welcome.jpg" alt="welcome" /></i>
				</div>
				<div class="col-md-8 col-sm-7 col-xs-7 wc-max-content">
					<h3>Welcome to MAX..</h3>
					<p>Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship! Flying away on a wing and a prayer. Who could it be? Believe it or not its just me. No phone no lights no motor car not a single luxury.</p>
					<p>All of them had hair of gold like their mother the youngest one in curls. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine? Could you be mine? Its a neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine! Come and knock on our door.</p>
					<div class="wc-mission-section">
						<div class="wc-mission col-md-4">
							<i class="fa fa-check"></i>
							<h5>Trusted Partners</h5>
							<span>Over 30 Years</span>
						</div>
						<div class="wc-mission col-md-4">
							<i class="fa fa-check"></i>
							<h5>Large Community</h5>
							<span>Over 20k Members</span>
						</div>
						<div class="wc-mission col-md-4">
							<i class="fa fa-check"></i>
							<h5>Quality Support</h5>
							<span>Anytime 24 Hours</span>
						</div>
					</div>
					<a href="#" class="learn-more" title="Learn More About Us">Learn More About Us<i class="fa fa-caret-right"></i></a>
				</div>
			</div><!-- Container /- -->
		</div><!-- Welcome Section /- -->
		
		<!-- Booking Section -->
		<div class="booking-section container-fluid no-padding">
			<div class="col-md-6 booking-detail">
				<h5 class="booking-heading">Book your rooms here</h5>
				<form>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="input-group">
							<input class="form-control" placeholder="Name" type="text">
							<span class="input-group-btn">
								<button class="btn" title="Name" type="button"><i class="fa fa-user"></i></button>
							</span>
						</div>
						<div class="input-group">
							<input class="form-control" placeholder="Mobile No" type="text">
							<span class="input-group-btn">
								<button class="btn" title="Mobile No" type="button"><i class="fa fa-phone"></i></button>
							</span>
						</div>
						<div id="datepicker1" class="input-group">
							<input class="form-control datepicker" placeholder="Arrival Date" type="text">
							<span class="input-group-addon add-on">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div id="datepicker2" class="input-group">
							<input class="form-control datepicker" placeholder="Departure Date" type="text">
							<span class="input-group-addon add-on">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="form-group">
							<select>
								<option>No of Persons</option>
								<option>No of Persons</option>
								<option>No of Persons</option>
								<option>No of Persons</option>
							</select>
						</div>
						<div class="form-group">
							<select>
								<option>No of Rooms</option>
								<option>No of Rooms</option>
								<option>No of Rooms</option>
								<option>No of Rooms</option>
							</select>
						</div>
						<div class="form-group">
							<textarea placeholder="Your message" rows="10" class="form-control"></textarea>
						</div>
					</div>
					<a href="#" title="Book Now" class="book-now">Book Now</a>
				</form>
			</div>
			<div class="col-md-6 booking-img" data-image="images/booking-bg.jpg"></div>
		</div><!-- Booking Section -->
		
		<!-- Service Section -->
		<div class="service-section container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>our services</h3>
				</div><!-- Section Header /- -->
				<div class="col-md-4 col-sm-6 col-xs-6 service-box">
					<img src="images/service-1.jpg" alt="service" />
					<div class="service-content">
						<h5>World Class Restaurant</h5>
						<p>They'll have to make the best of things its an uphill climb. Their house is a museum where people come.</p>
						<a href="#" class="read-more" title="Read More">Read More</a>
						<a href="#" class="link"><i class="fa fa-caret-right"></i></a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 service-box">
					<img src="images/service-2.jpg" alt="service" />
					<div class="service-content">
						<h5>Luxury Rooms and Resorts</h5>
						<p>They'll have to make the best of things its an uphill climb. Their house is a museum where people come.</p>
						<a href="#" class="read-more" title="Read More">Read More</a>
						<a href="#" class="link"><i class="fa fa-caret-right"></i></a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 service-box">
					<img src="images/service-3.jpg" alt="service" />
					<div class="service-content">
						<h5>Wellness and SPA</h5>
						<p>They'll have to make the best of things its an uphill climb. Their house is a museum where people come.</p>
						<a href="#" class="read-more" title="Read More">Read More</a>
						<a href="#" class="link"><i class="fa fa-caret-right"></i></a>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Service Section /- -->
		
		<!-- Video Section -->
		<div class="video-section container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<div class="video-section-content">
					<P>Watch the Video and Take Some Idea About Our Company</P>
					<a class="popup-vimeo" href="https://vimeo.com/83468911"><i class="fa fa-play"></i></a>
				</div>
			</div><!-- Container /- -->
		</div><!-- Video Section /- -->
		
		<!-- Gallery Section 2 -->
		<div class="gallery-section gallery-section-2 container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<ul class="portfolio-list no-left-padding">
						<li class="col-md-4 col-sm-4 col-xs-6 design">
							<div class="content-image-block">
								<img src="images/gallery-7.jpg" alt="gallery">
							</div>
						</li>
						<li class="col-md-4 col-sm-4 col-xs-6 design">
							<!-- Section Header -->
							<div class="section-header">
								<h3>our gallery</h3>
								<p>A man is born he's a man of means. Then along come two they got nothin' but their jeans. Come and knock on.</p>
								<a href="#" title="view all categories">view all categories</a>
							</div><!-- Section Header /- -->
						</li>
						<li class="col-md-4 col-sm-4 col-xs-6 design">
							<div class="content-image-block">
								<img src="images/gallery-10.jpg" alt="gallery">
							</div>
						</li>
						<li class="col-md-4 col-sm-4 col-xs-6 design">
							<div class="content-image-block">
								<img src="images/gallery-9.jpg" alt="gallery">
							</div>
						</li>
						<li class="col-md-4 col-sm-4 col-xs-6 design">
							<div class="content-image-block">
								<img src="images/gallery-11.jpg" alt="gallery">
							</div>
						</li>
						<li class="col-md-4 col-sm-4 col-xs-6 design">
							<div class="content-image-block">
								<img src="images/gallery-8.jpg" alt="gallery">
							</div>
						</li>
					</ul>
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Gallery Section 2 /- -->
		
		<!-- Testimonial Section -->
		<div class="testimonial-section container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>what our client say</h3>
				</div><!-- Section Header /- -->
				<div class="testimonial-carousel-1">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="testimonial-content">
							<i><img src="images/testi-1.jpg" alt="testi" /></i>
							<p>The law will allow. That this group would somehow form a family that's the way we all became the Brady Bunch. Were gonna do it. Give us any chance well take it. Give us any rule we'll break it. </p>
							<h5>William Smith<span>(CEO of Boston Group)</span></h5>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="testimonial-content">
							<i><img src="images/testi-2.jpg" alt="testi" /></i>
							<p>The law will allow. That this group would somehow form a family that's the way we all became the Brady Bunch. Were gonna do it. Give us any chance well take it. Give us any rule we'll break it. </p>
							<h5>Boeace<span>(CEO of SAS Insititute)</span></h5>
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
		</div><!-- Testimonial Section /- -->
		
		<!-- Latest Blog -->
		<div class="latest-blog container-fluid">
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>latest news</h3>
				</div><!-- Section Header /- -->
				<div class="col-md-4 col-sm-6 col-xs-6">
					<article class="type-post">
						<div class="entry-cover">
							<a title="Blog" href="blog-post.html">
								<img alt="blog" src="images/latest-blog-1.jpg" />
							</a>
						</div>
						<div class="blog-content">
							<a href="#" class="post-more"><i class="icon icon-Play"></i></a>
							<div class="entry-header">
								<h3 class="entry-title"><a title="Fire Camp" href="blog-post.html">Fire Camp</a></h3>
								<div class="entry-meta">
									<div class="post-admin">By: <a href="#" title="20 Comments">Admin</a></div>
									<div class="post-recent"><a href="#" title="Recent Post">Recent Post</a></div>
									<div class="post-date"><a href="#" title="12 Comments">12 Comments</a></div>
								</div>
							</div>
							<div class="entry-content">
								<p>Sunny Days sweepin' the clouds away. On my way to where the air is sweet. Can you tell me how to get how to get to Sesame Street. If you have a problem... <a href="blog-post.html"><i class="fa fa-plus"></i></a></p>
							</div>
						</div>
					</article>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-6">
					<article class="type-post">
						<div class="entry-cover">
							<a title="Blog" href="blog-post.html">
								<img alt="blog" src="images/latest-blog-2.jpg" />
							</a>
						</div>
						<div class="blog-content">
							<a href="#" class="post-more"><i class="icon icon-Picture"></i></a>
							<div class="entry-header">
								<h3 class="entry-title"><a title="Fire Camp" href="blog-post.html">World Tour</a></h3>
								<div class="entry-meta">
									<div class="post-admin">By: <a href="#" title="20 Comments">Admin</a></div>
									<div class="post-recent"><a href="#" title="Recent Post">Recent Post</a></div>
									<div class="post-date"><a href="#" title="12 Comments">12 Comments</a></div>
								</div>
							</div>
							<div class="entry-content">
								<p>Sunny Days sweepin' the clouds away. On my way to where the air is sweet. Can you tell me how to get how to get to Sesame Street. If you have a problem... <a href="blog-post.html"><i class="fa fa-plus"></i></a></p>
							</div>
						</div>
					</article>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-6">
					<article class="type-post">
						<div class="entry-cover">
							<a title="Blog" href="blog-post.html">
								<img alt="blog" src="images/latest-blog-3.jpg" />
							</a>
						</div>
						<div class="blog-content">
							<a href="#" class="post-more"><i class="icon icon-Picture"></i></a>
							<div class="entry-header">
								<h3 class="entry-title"><a title="Fire Camp" href="blog-post.html">Explore the Marine </a></h3>
								<div class="entry-meta">
									<div class="post-admin">By: <a href="#" title="20 Comments">Admin</a></div>
									<div class="post-recent"><a href="#" title="Recent Post">Recent Post</a></div>
									<div class="post-date"><a href="#" title="12 Comments">12 Comments</a></div>
								</div>
							</div>
							<div class="entry-content">
								<p>Sunny Days sweepin' the clouds away. On my way to where the air is sweet. Can you tell me how to get how to get to Sesame Street. If you have a problem... <a href="blog-post.html"><i class="fa fa-plus"></i></a></p>
							</div>
						</div>
					</article>
				</div>
			</div><!-- Container /- -->
		</div><!-- Latest Blog /- -->
		
		<!-- Map -->
		<div class="map">
			<div id="map-canvas-contact-2" class="map-canvas map_2"  data-lat="-36.622024" data-lng="143.257975" data-string="09, Downtown St, Victoria, Australia." data-zoom="10"></div>
		</div><!-- Map /- -->
	</main>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="footer-main footer-main-1 container-fluid no-padding">
		<!-- Top Footer -->
		<div class="top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Widget About -->
				<aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget widget_about">
					<h3 class="widget-title">about<span>MAX</span></h3>
					<p>The first mate and his Skipper too will do their is very best to make the others comfortable island.</p>
					<p class="call-us"><i class="fa fa-phone"></i><a href="tel:(+01)1234567890" title="Phone" class="phone">(+01) 123 456 7890</a></p>
					<p class="call-us"><i class="fa fa-envelope-o"></i><a href="mailto:Info@Ourdomian.Com" title="Info@Ourdomian.Com">Info@Ourdomian.Com</a></p>
					<p class="call-us"><i class="fa fa-map-marker"></i>09 Downtown St, Victoria, Australia.</p>
				</aside><!-- Widget About /- -->
				<!-- Widget Links -->
				<aside class="col-md-2 col-sm-6 col-xs-6 ftr-widget widget_links">
					<h3 class="widget-title">Quick links</h3>
					<ul>
						<li><a href="#" title="Home">Home</a></li>
						<li><a href="#" title="About Us">About Us</a></li>
						<li><a href="#" title="Reservation">Reservation</a></li>
						<li><a href="#" title="Attractive Spots">Attractive Spots</a></li>
						<li><a href="#" title="Top Destination">Latest Blog</a></li>
						<li><a href="#" title="Contactus">Contactus</a></li>
					</ul>
				</aside><!-- Widget Links -->
				<!-- Widget Hours -->
				<aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget widget_links widget_rooms">
					<h3 class="widget-title">Available rooms</h3>
					<ul>
						<li><a href="#" title="Deluxe Rooms">Deluxe Rooms</a></li>
						<li><a href="#" title="Family Rooms">Family Rooms</a></li>
						<li><a href="#" title="Luxury Rooms">Luxury Rooms</a></li>
						<li><a href="#" title="Separate Rooms">Separate Rooms</a></li>
						<li><a href="#" title="Ultra Deluxe Suites">Ultra Deluxe Suites</a></li>
						<li><a href="#" title="Double Rooms">Double Rooms</a></li>
					</ul>
				</aside><!-- Widget Hours /- -->
				<!-- Widget Destination -->
				<aside class="col-md-4 col-sm-6 col-xs-6 ftr-widget widget_newsletter">
					<h3 class="widget-title">subscribe us</h3>
					<p>Get Our Latest Exclusive Offers</p>
					<div class="input-group">
						<input class="form-control" placeholder="Enter Email id..." type="text">
						<span class="input-group-btn">
							<button class="btn btn-default" title="Subscribe" type="button"><i class="fa fa-paper-plane-o"></i></button>
						</span>
					</div>
					<ul>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" title="behance"><i class="fa fa-behance"></i></a></li>
					</ul>
				</aside><!-- Widget Destination /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer /- -->
		
		<div class="bottom-footer container-fluid">
			<!-- Container -->
			<div class="container">
				<div class="col-md-3 col-sm-12 col-xs-12 coyright-content">
					<p>&copy; 2016 All Rights Reserved</p>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="ftr-navbar" aria-expanded="false" data-target="#ftr-navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse" id="ftr-navbar">
							<ul class="nav navbar-nav">
								<li class="active"><a href="index.html" title="Home">Home</a></li>
								<li><a href="about.html" title="About Us">About Us</a></li>
								<li><a href="rooms.html" title="Rooms">Rooms</a></li>
								<li><a href="services.html" title="Services">Services</a></li>
								<li><a href="gallery.html" title="Gallery">Gallery</a></li>
								<li><a href="contact-us.html" title="Contact">Contact</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
				</div>
			</div><!-- Container -->
		</div>
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.11.3 -->
	<script src="js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="libraries/lib.js"></script><!-- Bootstrap JS File v3.3.5 -->
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>

	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>
	
	<!-- Library - Theme JS -->
	<script src="js/functions.js"></script>
</body>
</html>